---
const faqs = [
  {
    question: "When and where does the game jam take place?",
    answer:
      "The game jam begins on Monday 4/12 and runs until Sunday 10/12. The event is virtual. Could be that we will try and gather on site. Follow our discord channel for more info.",
  },
  {
    question: "When can you vote?",
    answer:
      "The voting for the game jam takes place between 11-15/12. This is the dedicated time frame when participants and contributors can cast their votes and provide feedback on the submitted games. Make sure to mark your calendar and join the voting process during these dates to support your favorite projects.",
  },
  {
    question: "How do i share my game?",
    answer:
      "By joining our game jam on <a class='text-blue-500' href='https://itch.io/jam/high-coast-game-jam' >Itch.io</a> and upload your game there",
  },
  {
    question: "Is there a specific theme for the game jam?",
    answer:
      "Yes, a theme will be announced at the start of the game jam. Participants are encouraged to create games based on or inspired by this theme.",
  },
  {
    question: "Can I work on my game alone, or do I need a team?",
    answer:
      "You can participate as an individual developer or form a team, depending on your preference. Team sizes and collaboration are up to you. Max team size 5. Remember to add collaborators to your game on Itch.",
  },
  {
    question:
      "I'm looking to find team members to collaborate with. How can I connect with potential teammates?",
    answer:
      "You can easily connect with potential team members by joining our official Discord channel. It's the perfect place to meet like-minded participants, discuss your ideas, and build your dream team. Don't hesitate to introduce yourself and let others know you're on the hunt for talented collaborators. Team up, make magic, and bring your game to life!",
  },
  {
    question: "How do I register for the game jam?",
    answer:
      "To register for the game jam, simply visit <a class='text-blue-500' href='https://itch.io' target='_blank'>Itch</a> and create an account. Once you have an account, you can easily join our <a class='text-blue-500' href='https://itch.io/jam/high-coast-game-jam' >High Coast Game Jam</a> and start your creative journey.",
  },
  {
    question: "Are there any prizes for the winners?",
    answer:
      "Yes, there will be prizes for the top entries in each challenge category. The details of the prizes will be announced at the start of the game jam.",
  },
  {
    question: "Can I use existing code/assets in my game?",
    answer:
      "You are allowed to use existing code or assets as long as they are properly credited and do not violate any copyright or licensing agreements.",
  },
  {
    question: "What happens if I can't finish my game by the deadline?",
    answer:
      "While we encourage participants to complete their games within the given timeframe, we understand that challenges may arise. If you can't finish on time, you can still submit your work in progress, and you'll receive feedback and insights from the community.",
  },
  {
    question: "Is there a specific format for game submissions?",
    answer:
      "No, how you make your game is up to you. As long as the voters and judges can follow a set of instructions to test the game and is following the requirements for uploading to Itch. Recommend that it can be tested on both windows and mac.",
  },
  {
    question: "How do I stay updated and connected with other participants?",
    answer:
      "Join our official communication channel on <a class='text-blue-500' href='https://discord.highcost.tech' target='_blank'>Discord</a> to stay updated and connect with fellow participants. Regular announcements and updates will also be posted there.",
  },
  {
    question: "How do I vote and give feedback to the submited games?",
    answer:
      "You can vote and leave feedback on the submitted games using the features provided by <a class='text-blue-500' href='https://itch.io' target='_blank'>Itch.io</a>. It's an interactive platform that allows submitters and contributors to engage with the games and share their thoughts. Simply navigate to the <a class='text-blue-500' href='https://itch.io/jam/high-coast-game-jam' >High Coast Game Jam</a> page on Itch.io, explore the submissions, and participate in the voting and feedback process.",
  },
  {
    question:
      "Is there a way to vote even if im not submitted or contributed to a game?",
    answer: "Reach out on discord and we will see what we can do!",
  },
];
---

<script>
  const buttons = document.querySelectorAll(".button-faq");
  buttons.forEach((button) => {
    button.addEventListener("click", function (this: HTMLButtonElement) {
      const svgElements = this.querySelectorAll(".button-faq svg");
      svgElements.forEach((svg: Element) => svg.classList.toggle("hidden"));
      const ddElement = document.getElementById(`dd-${this.id}`);
      ddElement?.classList.toggle("hidden");
    });
  });
</script>

<div class="bg-gray-900">
  <div class="mx-auto max-w-7xl pt-24 p-12">
    <div class="mx-auto max-w-4xl divide-y divide-white/10">
      <div>
        <h2 class="text-2xl font-bold leading-10 tracking-tight text-white">
          Frequently asked questions
        </h2>
        <p class="mt-6 max-w-2xl text-base leading-7 text-gray-300">
          Have a different question and can't find the answer you're looking
          for? Reach out to our support team by joining our <a
            href="https://discord.highcost.tech"
            class="font-semibold text-indigo-400 hover:text-indigo-300"
            >discord</a
          >
        </p>
      </div>
      <dl class="mt-10 space-y-6 divide-y divide-white/10">
        {
          faqs.map((data, index) => (
            <div class="pt-6">
              <dt>
                <button
                  type="button"
                  class="button-faq flex w-full items-start justify-between text-left text-white"
                  aria-controls="faq-0"
                  aria-expanded="false"
                  id={`faq-${index}`}
                >
                  <span class="text-base font-semibold leading-7">
                    {data.question}
                  </span>
                  <span class="ml-6 flex h-7 items-center">
                    <svg
                      class="h-6 w-6"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 6v12m6-6H6"
                      />
                    </svg>
                    <svg
                      class="h-6 w-6 hidden"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M18 12H6"
                      />
                    </svg>
                  </span>
                </button>
              </dt>
              <dd class="mt-2 pr-12 hidden" id={`dd-faq-${index}`}>
                <p
                  class="text-base leading-7 text-gray-300"
                  set:html={data.answer}
                />
              </dd>
            </div>
          ))
        }
      </dl>
    </div>
  </div>
</div>
